<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.vhr.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconCls"/>
        <result column="parentId" jdbcType="INTEGER" property="parentId"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <association property="meta" javaType="org.javaboy.vhr.model.Meta">
            <result column="keepAlive" jdbcType="BIT" property="keepAlive"/>
            <result column="requireAuth" jdbcType="BIT" property="requireAuth"/>
        </association>
    </resultMap>

    <resultMap id="Menus2" type="org.javaboy.vhr.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="org.javaboy.vhr.model.Menu">
            <id column="id2" jdbcType="INTEGER" property="id"/>
            <result column="url2" jdbcType="VARCHAR" property="url"/>
            <result column="path2" jdbcType="VARCHAR" property="path"/>
            <result column="component2" jdbcType="VARCHAR" property="component"/>
            <result column="name2" jdbcType="VARCHAR" property="name"/>
            <result column="iconCls2" jdbcType="VARCHAR" property="iconCls"/>
            <result column="parentId2" jdbcType="INTEGER" property="parentId"/>
            <result column="enabled2" jdbcType="BIT" property="enabled"/>
            <association property="meta" javaType="org.javaboy.vhr.model.Meta">
                <result column="keepAlive2" jdbcType="BIT" property="keepAlive"/>
                <result column="requireAuth2" jdbcType="BIT" property="requireAuth"/>
            </association>
        </collection>
    </resultMap>
    <resultMap id="MenuWithRole" type="org.javaboy.vhr.model.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="org.javaboy.vhr.model.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="name"></result>
            <result column="rnameZh" property="nameZh"></result>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
    id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled
  </sql>
    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
    select m.*,r.id as rid,r.name as rname,r.nameZh as rnameZh
    from menu m,menu_role mr,role r
    where m.id=mr.mid and mr.rid=r.id order by m.id
  </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.javaboy.vhr.model.Menu">
    insert into menu (id, url, path, 
      component, name, iconCls, 
      keepAlive, requireAuth, parentId, 
      enabled)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{component,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, 
      #{keepalive,jdbcType=BIT}, #{requireauth,jdbcType=BIT}, #{parentid,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="org.javaboy.vhr.model.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="component != null">
                component,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="iconcls != null">
                iconCls,
            </if>
            <if test="keepalive != null">
                keepAlive,
            </if>
            <if test="requireauth != null">
                requireAuth,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                #{keepalive,jdbcType=BIT},
            </if>
            <if test="requireauth != null">
                #{requireauth,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.javaboy.vhr.model.Menu">
        update menu
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                component = #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                iconCls = #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                keepAlive = #{keepalive,jdbcType=BIT},
            </if>
            <if test="requireauth != null">
                requireAuth = #{requireauth,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.Menu">
    update menu
    set url = #{url,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      component = #{component,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      iconCls = #{iconcls,jdbcType=VARCHAR},
      keepAlive = #{keepalive,jdbcType=BIT},
      requireAuth = #{requireauth,jdbcType=BIT},
      parentId = #{parentid,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findMenu" resultMap="Menus2">
    select DISTINCT m1.*,m2.id id2,
    m2.component as component2,m2.enabled as enabled2,
    m2.iconCls as iconCls2,m2.keepAlive as keepAlive2,
    m2.parentId as parentId2,m2.`name` as name2,
    m2.path as path2
    from menu m1
    left join menu m2 ON m1.id=m2.parentId
    left join menu_role mr on mr.mid=m2.id
    left join hr_role hrr on hrr.rid=mr.rid
    where hrr.hrid=#{hrId}
    and  m2.enabled=true
    ORDER BY m2.id
  </select>

</mapper>